/* styles the container position of login */
.login{
    margin-top: 80px;
    margin-bottom: 80px;
/* input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;   */
}
/* styles the block at the top of the page */
.quote{
    display: block;
    background-color:rgb(172, 165, 179);
    color: white;
    text-decoration-style: solid;
    font-size: 30px; 
    font-style: oblique;
    height:250px;
    padding:30px;
}
/* styles the container form login */
.form_login{
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1)
}
.form_control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:100%;
}
.form_control .form_login{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
/* styles the password input placeholder */
input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* styles the reset link */
  .reset{
    display: block;
    min-height: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}
/* styles the login button */
.btn_in{
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    border: 1px solid transparent;
    
}
 /* styles the register button in login page  */
.button{
    float: right;
    display: block;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    color: white;
    background-color: #434446;
    border-color: #357ebd;
    border: 1px solid transparent;
    padding-top: 0px;
}
/* styles the footer */
footer {
    background-color:rgb(172, 165, 179);
    padding: 20px;
    text-align: center;
    color: black;
    margin-bottom: 0%;
}
/* styles contacts block in the footer */
.contact{
    display: block;
    float:right;
    font-size: 13px;
    padding-left: 0px;
}
/* styles the text in the footer */
.social{
    padding-right: 200px;
    font-size: 20px;
    font-family: unset;
}
.container{
    width: 85%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #616b74;
    color: white;
    padding-top: 20px;
    min-height: 70px; 
}
header a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
}

header li{
    float: left;
    padding: 0 20px 0 20px;
    display: inline;
}
header #logo{
    float: left;
}
header #logo h1{
    margin: 0;
    color: chocolate;
}
header nav{
    float: right;
    margin-top: 22px;
}
.current a{
    color: brown;
    font-weight: bold;
}
header a:hover{
    color: black;
    font-weight: bold;
}
#humour{
    min-height: 500px;
    width: 100%;
    background: url("images/img3s.jpg") no-repeat;
}
#humour p{
    color: white;
    font-size: 60px;
    margin-bottom:20px; 
}
footer{
    padding:20px
}
#vote-form{
    padding-top: 20px;
    min-height: 480px;
    background-color: #434649;
    padding: 15px
}
#vote-form .box{
    float: left;
    width: 33%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;  
}
.but1{
    height: 35px;
    background: green;
    border:0;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    margin-right: 45%;
    margin-left:45%;
    margin-top: 10%;
}
.vote-box {
    padding:10px;
}
.vote-box td{
    margin-left: 50%;  
}
.leaders{
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse: collapse;
    font-size: 18px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.declaration{
    background: #ccc;
    padding:0;
    color: brown;
}
.checkb1{
    float: left;
    width: 50%;
}
#but2{
    background: green;
    color: white;
    margin-left: 80%;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
}
.but3{
    background: green;
    color: white;
    margin-left: 70%;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
}
#sarcasm{
    background: url(images/img4.jpg);
    height: 280px;
    color:white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 5%;
}